In [1]:
import pandas as pd
import xml.etree.ElementTree as ET

In [2]:
root = ET.parse('rvko_2023_1.xml')

In [3]:
notations = []
descriptions = []

for node in root.iter("node"):
    notations.append(node.get("notation"))
    descriptions.append(node.get("benennung"))

In [4]:
df = pd.DataFrame({"notation": notations, "description": descriptions})

In [5]:
df

                   notation                                        description
0                         A                                        Allgemeines
1                        AA  Bibliografien der Bibliografien, Universalbibl...
2                  AA 09900                      Bibliografische Zeitschriften
3       AA 10000 - AA 19900                    Bibliografien der Bibliografien
4                  AA 10000                         International, Allgemeines
...                     ...                                                ...
783142              ZY 9995                               Audiovisuelle Medien
783143              ZY 9996                                    Meisterschaften
783144              ZY 9997                                Tagungen, Kongresse
783145              ZY 9998                                     Führer; Karten
783146              ZY 9999                                          Sonstiges

[783147 rows x 2 columns]

In [6]:
df.to_csv("rvk_classification_flattened.tsv", sep="\t", index=False)

In [7]:
df = pd.read_csv("rvk_classification_flattened.tsv", sep="\t")
df.head()

              notation                                        description
0                    A                                        Allgemeines
1                   AA  Bibliografien der Bibliografien, Universalbibl...
2             AA 09900                      Bibliografische Zeitschriften
3  AA 10000 - AA 19900                    Bibliografien der Bibliografien
4             AA 10000                         International, Allgemeines

In [8]:
uri_base = "https://th-wildau.de/rvk-short/"
df["uri"] = df["notation"].apply(lambda x: uri_base + x.replace(" ", ""))

In [9]:
df

,notation,description,uri
0,A,Allgemeines,https://th-wildau.de/rvk-short/A
1,AA,"Bibliografien der Bibliografien, Universalbibl...",https://th-wildau.de/rvk-short/AA
2,AA 09900,Bibliografische Zeitschriften,https://th-wildau.de/rvk-short/AA09900
3,AA 10000 - AA 19900,Bibliografien der Bibliografien,https://th-wildau.de/rvk-short/AA10000-AA19900
4,AA 10000,"International, Allgemeines",https://th-wildau.de/rvk-short/AA10000
...,...,...,...
783142,ZY 9995,Audiovisuelle Medien,https://th-wildau.de/rvk-short/ZY9995
783143,ZY 9996,Meisterschaften,https://th-wildau.de/rvk-short/ZY9996
783144,ZY 9997,"Tagungen, Kongresse",https://th-wildau.de/rvk-short/ZY9997
783145,ZY 9998,Führer; Karten,https://th-wildau.de/rvk-short/ZY9998
783146,ZY 9999,Sonstiges,https://th-wildau.de/rvk-short/ZY9999

In [10]:
df.to_csv("rvk_classification_flattened_with_uri.tsv", sep="\t", index=False)